header {
    text-align: center;
}

nav > * {
    display: inline-block;
}

.tartalom {
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

form.keres {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    line-height: 200%;
}

fieldset legend {
    line-height: 100%;
    font-weight: bold;
    font-size: x-large;
}

form.keres input,
form.keres select,
form.keres option,
form.keres button,
form.keres textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 2px;
}

button {
    box-sizing: border-box;
    padding: 5px 2px;
}

form.keres button:nth-of-type(1) {
    margin-top: 15px;
}

button.torol {
    background-color: gray;
    color: red;
}

div.modositgombok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.modositgombok button {
    width: calc(100% / 3);
}

@media (max-width: 500px) {
    div.modositgombok button {
        width: 100%;
    }
}

div.modositgombok button:nth-of-type(1) {
    margin-top: auto;
}

form textarea {
    width: 100%;
    resize: vertical;
}

.maxnsor {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--maxnsor);
    -webkit-line-clamp: var(--maxnsor);
    overflow: hidden;
}